<h1>Jorge Ortiz - CV</h1>

<h2>who I am?</h2>
<p>
A Colombian sports addict, music hunter and a passionate hobbies seeker. A Software engineer who has tasted the flavors of computer science in various industry branches as well as in the academy.
I have taken part of IT projects for a Bank, a publishing company, a flowers exporting farm. I have also got a blick of what it is working for big companies like Siemens (Healthcare sector) and Fraunhofer and small ones like 3Metas, a very nice Start-up in Colombia and at the moment at OMNINET a nice and authentic German company.
</p>

<h2>Why would you hire me?</h2>
<p>
I do love computing science and games, I offer you great adaptability to different situations, technologies and environments, I offer you a passionate worker which loves getting to know new people and working together to find new approaches and solutions. This time I am not just looking for a Job but for my TRUE LOVE Job. I communicate quite well in 3 languages (two more are on the waiting list), I am always curious about computer languages, new technologies, development methodologies and patterns. 
</p>

<p>
More in general terms I care about living with passion this what I consider a great but very short time in life, that is why I want a place in XXX; a bit more than 3 years ago I decided to come to Germany, leaving my comfort zone and embracing new dares, now I can say, it was a great desition, it pressed the turbo button, a new language, a time back in the academy, great projects with nice companies and people, amazing experiences and challenges where the outcome of it.
</p>

<h2>Why XXX and not other company?</h2>

<p>
I want to work with talented and exciting people and you guys have proved it, I have interest in topics like social networks analysis() and you guys make great social games, I can feel XXX is my next turbo button, it makes me excited and dream and when I am highly motivated I give it all to be better and better.
</p>

<p>
I have no fear to see from other angles, I am ambitious and hard worker, nice and a fun colleague, I will ask you why before how, and will challenge you, motivate you and we will for sure build great games together, we will have fun and learn a lot from each other. I know It´s not all a bed of roses, I know it will be a very demanding job, I will have to learn a big bunch of new things, but I will surely enjoy it.
</p>
